.box_navmobile {
    position: fixed;
    z-index: 100;
    bottom: 0;
    background: #FFF;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    height: 5.25rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.item_navmobile {
    display: flex;
    gap: 0.25rem;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.item_navmobile_plus {
    border-radius: 2.5rem;
background: #4FB7E3;
padding: 1rem;
}

.item_navmobile_text {
    color: #333;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}