.container{
    display: flex;
    flex-direction: column;
    gap:48px
}
.title{
    color: #333;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.recently{
    overflow: hidden;
    position: relative;
}
.list_recently{
    display: flex;
    gap: 18px;
    width: 100%;
    transition: ease 1000ms;    
}
.recently_img{
    display: flex;
    padding: 27px 14px 0px 14px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: #EDF3FF;
    margin-bottom: 17px;
}
.recently_text{
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.pre_button{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(180deg);
}
.next_button{
    position: absolute;
    right: 0px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.next_button:hover, .pre_button:hover{
    cursor: pointer;
}
.folder{
    display: flex;
    flex-direction: column;
    gap:12px
}
.block_title{
    display: flex;
    align-items: center;
    padding: 16px 0px;
    justify-content: center;
}
.block_title p {
    margin-left: 32px;
}
.folder_content{
    display: flex;
    gap: 30px;
}
.folder_item{
    cursor: pointer;
    display: flex;
    gap: 17px;
    align-items: center;
    padding: 10px;
    border-radius: 12px;
}
.folder_item:hover{
    background-color: #c3c3c3;
}
.folder_item p {
    color: #333;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.design_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
}
.design_content2{
    justify-content: flex-start;
}
.design_img{
    display: flex;
    padding: 32px 24px 0px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: #EDF3FF;
    margin-bottom: 17px;
}
.design_text{
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.brand_item{
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #B9B9B9;
    background: #FFF;
    display: flex;
    flex-direction: column;
}
.brand_item:hover{
    cursor: pointer;
}
.brand_color{
    display: flex;
}
.brand_color_item{
    width: 33.33%;
    height: 15px;
}
.brand_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 17px;
}
.more{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.more p {
    cursor: pointer;
    border-radius: 8px;
    padding: 12px;
    background: #DFEAFF;
    color: #566CD9;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.more p:hover{
    color: #DFEAFF;
    background: #566CD9;
}
.more p:active{
    color: blue;
}

@media screen and (max-width:1600px) {
    .design_content{
        gap: 20px;
    }
}
@media screen and (max-width:1200px) {
    .design_content{
        gap: 10px;
    }
}
@media screen and (max-width:800px) {
    .design_content{
        gap: 20px;
    }
    .folder_content{
       flex-wrap: wrap;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}
.animated{
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}