/* reuse */

.display_flex {
  display: flex;
}

.paragraph {
  margin-left: 8.5px; /* Hoặc giá trị khoảng cách mong muốn */
}

.banner {
  height: 26.0625rem;
  width: 100%;
  background: #e1efef;
  position: relative;
  display: flex;
  overflow: hidden;
}

.banner__image_1 {
  width: 8.25rem;
  height: 10.4375rem;
  object-fit: cover;
  position: relative;
}

.wrapper_banner {
  padding-top: 8.38rem;
  padding-left: 3.13rem;
}

.banner__title {
  color: #000;
  font-family: Inter;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 48.625rem;
  height: 2.75rem;
  flex-shrink: 0;
}

.banner__des {
  color: #000;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.image_box {
  margin-left: 4.88rem;
}

.image_box_transform {
  transform: translateX(320px);
}

.image_position {
  position: absolute;
  right: 0;
  top: 0;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
}

.banner__image_1 {
  margin-right: 28.25rem;
  margin-top: 1.44rem;
}

.banner__image_2 {
  margin-right: 20.19rem;
  margin-top: 2.94rem;
  width: 5.875rem;
  height: 8.3125rem;
}

.banner__image_3 {
  margin-right: 8.87rem;
  margin-top: 1.12rem;

  width: 9.25rem;
  height: 6.625rem;
}

.banner__image_4 {
  margin-right: 0rem;
  margin-top: 0rem;
  width: 6.3125rem;
  height: 8.5625rem;
}

.banner__image_5 {
  margin-right: 20.63rem;
  margin-top: 13.69rem;
  width: 17.75rem;
  height: 7.0625rem;
}

.banner__image_6 {
  margin-right: 19.37rem;
  margin-top: 17.63rem;
  width: 7.5625rem;
  height: 7.5625rem;
}

.banner__image_7 {
  margin-right: 10.62rem;
  margin-top: 13.69rem;
  width: 7.9375rem;
  height: 7.9375rem;
  z-index: 2;
}

.banner__image_8 {
  margin-right: 8.31rem;
  margin-top: 9.19rem;
  width: 5.5rem;
  height: 6.875rem;
}

.banner__image_9 {
  margin-right: 0rem;
  margin-top: 18.25rem;
  width: 5.5rem;
  height: 6.875rem;
}

.banner__image_10 {
  margin-right: 0rem;
  margin-top: 7.06rem;
  width: 8.4375rem;
  height: 11.9375rem;
}

@media screen and (max-width: 1666px) {
 

  .display_flex {
    display: block !important;
  }

  .paragraph {
    margin-left: 0 !important;
  }

  .banner__des {
    margin-top: 3rem;
  }

  .image_box {
    transform: translateX(260px);
  }
}


@media screen and (max-width: 1366px) {
 

  .display_flex {
    display: block !important;
  }

  .paragraph {
    margin-left: 0 !important;
  }

  .banner__des {
    margin-top: 3rem;
  }

  .image_box {
    transform: translateX(260px);
  }
}

@media screen and (max-width: 768px) {

  .wrapper_banner {
    padding-left: 2rem;
  }
 
  .image_box {
    transform: translateX(175px);
  }
}

@media screen and (max-width: 430px) {
  .banner {
    height: 14.125rem;
  }

  .wrapper_banner {
    padding-top: 3.06rem;
    padding-left: 0;
    text-align: left;
    width: 100%;
    padding: 0 0.56rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .banner__title {
    font-size: 1.75rem;
    font-weight: 600;
    width: fit-content;
  }

  .banner__des {
    text-align: left;
  }

  .banner__des {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    margin-top: 1.75rem !important;
  }
}
