* {
  margin:0;
  padding:0;
  text-decoration:none;
  /* box-sizing: border-box; */

}

body {
  box-sizing: border-box;
}
.flex{
  display: flex;
}
a{
  color: unset;
}
.prevent-select{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* photo */

.swiper-slide  {
  width: fit-content !important;
}
@media screen and (max-width: 768px) {

  .photo_photo_banner__sCdWh {
    height: 248px;
    margin-top: 30.98px;
  }

  .photo_title__MFGA0 {
    font-size: 28px !important;

  }

  .photo_des__oVPo1 {
    font-size: 16px !important;
    padding: 0 28px;
    text-align: center;
  }

  


  
  #wrapper_slide .photo_item_slide__kV7od {
    width: 125px !important;
    height: 61.79px;
  }

  #wrapper_slide .photo_text_slide__Dgp8F {
    font-size: 16px;
  }

  .photo_title_trend__rCVZy {
    font-size: 29px  !important;
    white-space: nowrap;
  }

  .photo_total_trend_image__KzxCt {
    font-size: 16px !important;
    margin-top: 0rem !important;
  }

 
}

.quill  {
  border-radius: 8px;
    /* overflow: hidden; */
    /* border: 1px solid #F2F3F5; */
}

.ql-container.ql-snow {
  border: none;
  transform: translateY(-4px);
  background-color: #F2F3F5;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  /* border-radius: 8px; */
}

.ql-toolbar.ql-snow .ql-formats {
  display: flex;
  gap: 16px;
 
}



.ql-toolbar.ql-snow {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex ;
  height: 77px;
  align-items: center;
  background-color: #F2F3F5;
}

.quill {
  height: 77px;
}

.ql-editor p, .ql-editor ol, .ql-editor ul, .ql-editor pre, .ql-editor blockquote, .ql-editor h1, .ql-editor h2, .ql-editor h3, .ql-editor h4, .ql-editor h5, .ql-editor h6  {
  height: 100%;

}
.ql-editor p {
  display: flex !important;
  align-items: center;
}

/* create follow */

#create_follow_wrapper .slide_display_block__S_tQI {
    left: 96.5% !important;
    top: 25%;
}

#create_follow_wrapper .slide_slide_btn_left__gkKFY.slide_display_block__S_tQI.prev-0 {
  left: 00% !important;
  top: 25%;
}

#create_follow_wrapper :where(.css-dev-only-do-not-override-1xg9z9n).ant-select-single {
  height: 50px;
  width: 220px !important;
}

#create_follow_wrapper :where(.css-dev-only-do-not-override-1xg9z9n).ant-select-single.ant-select-show-arrow .ant-select-selection-item {
  padding-left: 3rem;
  font-size: 20px;
  color: #6F7274;
}



@media screen and (max-width: 912px) {
  #create_follow_wrapper .slide_display_block__S_tQI {
    left: 95% !important;
}
}




@media screen and (max-width: 430px) {
  .create_follow_wrapper {
      padding: 0 17px;
  }

  #create_follow_wrapper .slide_slide_btn_left__gkKFY.slide_display_block__S_tQI.prev-0 {
    left: 0% !important;
    top: 25%;
  }

  #create_follow_wrapper .slide_display_block__S_tQI {
    left: 89.5% !important;
}
}