* {
  margin:0;
  padding:0;
  text-decoration:none;
}
.flex{
  display: flex;
}
a{
  color: unset;
}
.prevent-select{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* photo */

#wrapper_slide  .swiper-slide  {
  width: fit-content;
}