.container{
    width: calc(100% - 320px);
    padding: 0px 35px 60px 35px;
    box-sizing: border-box;
}
.full_width{
    width: 100%;
    box-sizing: border-box;
    padding: 0px 200px 60px 200px;
}
/* .content{
    background-color: red;
} */
.header,
.recommend,
.recently{
    margin-bottom: 52px;
}
.header{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;
    background: linear-gradient(171deg, #89F7FE -6.7%, rgba(137, 247, 254, 0.78) -6.7%, #89F7FE -6.7%, #9EF2FD -6.69%, #6F98E7 46.39%, #4C5BD4 103.99%);
    padding-top: 37px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 37px 20px 0px 20px;
}
.slogan{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.search{
    margin-top: 17px;
    margin-bottom: 32px;
    width: 60%;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: #FFF;
}
.search input{
    border: none;
    width: 100%;
    margin-left:28px;
    font-size: 20px;
}
.search input::placeholder{
    color: #808080;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.search input:focus{
    outline: none;
}
.tab_container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.tab_block{
    position: relative;
    padding-bottom: 20px;
    padding: 20px;
    overflow-x: scroll;
    box-sizing: border-box;
    overflow-y: hidden;
}
.tab_block::-webkit-scrollbar{
    display: none;
}
.tab_list{
    width: 100%;
    display: flex;
    gap: 47px;
}
.tab_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.tab_item p{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    white-space: nowrap;
}
.selected{
    position: absolute;
    bottom: -0.5px;
    transition: left 0.3s;
}
.tab_item:hover img{
    scale: 1.25;
    transform-origin: top center;
}
.recommend{
    overflow: hidden;
    position: relative;
}
.recommend_title, .recently_title{
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
}
.list_recommend{
    display: flex;
    gap: 18px;
    width: 100%;
    transition: ease 1000ms;    
}
.recommend_img{
    display: flex;
    padding: 27px 14px 0px 14px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: #EDF3FF;
    margin-bottom: 17px;
}
.recommend_text{
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.pre_button{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(180deg);
}
.next_button{
    position: absolute;
    right: 0px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.next_button:hover, .pre_button:hover{
    cursor: pointer;
}
.list_recently{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 32px;
}
.list_recently2{
    justify-content: flex-start;
}
.recently_img{
    display: flex;
    padding: 32px 24px 0px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: #EDF3FF;
    margin-bottom: 17px;
}
.recently_text{
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.recently_text2{
    color: #989898;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.more{
    display: flex;
    justify-content: center;
    align-items: center;
}
.more p {
    cursor: pointer;
    border-radius: 8px;
    padding: 12px;
    background: #DFEAFF;
    color: #566CD9;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.more p:hover{
    color: #DFEAFF;
    background: #566CD9;
}
.more p:active{
    color: blue;
}
@media screen and (max-width:1600px) {
    .slogan{
        font-size: 30px;
    }
    .full_width{
        padding: 0px 83px 60px 83px;
    }
    .tab_list{
        gap: 32px;
    }
    .list_recently{
        gap: 20px;
    }
}
@media screen and (max-width:1200px) {
    .full_width{
        padding: 0px 24px 60px 24px;
    }
    .tab_list{
        gap: 25px;
    }
    .list_recently{
        gap: 10px;
    }
}
@media screen and (max-width:800px) {
    .list_recently{
        gap: 20px;
    }
    .container{
        width: 100%;
        padding: 0px 24px 60px 24px;
    }
}